# OSX
#
pions12_app/.DS_Store

# Xcode
#
pions12_app/build/
pions12_app/*.pbxuser
pions12_app/!default.pbxuser
pions12_app/*.mode1v3
pions12_app/!default.mode1v3
pions12_app/*.mode2v3
pions12_app/!default.mode2v3
pions12_app/*.perspectivev3
pions12_app/!default.perspectivev3
pions12_app/*.xccheckout
pions12_app/*.moved-aside
pions12_app/DerivedData
pions12_app/*.hmap
pions12_app/*.ipa
pions12_app/*.xcuserstate
pions12_app/project.xcworkspace

# Android/IntelliJ
#
pions12_app/build/
pions12_app/.idea
pions12_app/.gradle
pions12_app/local.properties
pions12_app/*.iml
pions12_app/*.hprof
pions12_app/.cxx/
pions12_app/*.keystore
pions12_app/!debug.keystore

# node.js
#
pions12_app/node_modules/
pions12_app/npm-debug.log
pions12_app/yarn-error.log

# Bundle artifacts
pions12_app/*.jsbundle

# CocoaPods
/pions12_app/ios/Pods/

# Temporary files created by Metro to check the health of the file watcher
pions12_app/.metro-health-check*

# Expo
pions12_app/.expo/
pions12_app/web-build/
pions12_app/dist/
